<div class="container mx-auto px-4">
  <div class="flex justify-center mt-14">
    <div class="w-full max-w-5xl">
      <div class="bg-base-200 min-h-3.5 p-2">
        <div class="hero-content flex-col lg:flex-row">
          <%= image_tag follow_user.profile.profile_image.url, class: "w-24 rounded-full" %>
          <p class="text-4xl font-bold"><%= follow_user.profile.name %></p>
        </div>
        <div class="flex justify-center m-4">
          <div class="w-full max-w-3xl">
            <div class="flex">
              <p>性別：</p>
              <p><%= follow_user.profile.gender %></p>
            </div>
            <div class="flex">
              <p>誕生年度：</p>
              <p><%= follow_user.profile.birth_year || '選択なし' %></p>
            </div>
            <div>
              <p>自己紹介：</p>
              <p><%= follow_user.profile.self_introduction %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>