<div class="min-h-3.5 py-1 px-2">
  <div id="profile-id-<%= follow_user.profile.id %>">
    <div class="card bg-base-200 max-w-3xl min-h-20 shadow-xl">
      <div class="py-3 px-2">

        <div class="flex items-center">
          <div class="avatar mx-2">
            <div class="w-12 rounded-full">
              <%= image_tag follow_user.profile.profile_image.url, class: "w-24 rounded-full" %>
            </div>
          </div>
          <h1 class="text-lg lg:text-xl font-bold"><%= link_to follow_user.name, profile_path(follow_user.profile) %></h1>
          <div class='ms-auto text-lg lg:text-xl mr-2'>
            <%= render 'shared/follow_buttons', { user: follow_user } %>
          </div>
        </div>

        <div class="mt-2 mx-2">
          <div class="flex">
            <h1 class="text-base lg:text-lg">性別：</h1>
            <h1 class="text-base lg:text-lg"><%= follow_user.profile.gender_i18n %></h1>
          </div>
          <div class="flex">
            <h1 class="text-base lg:text-lg">誕生年度：</h1>
            <h1 class="text-base lg:text-lg"><%= follow_user.profile.birth_year || '選択なし' %></h1>
          </div>
          <div>
            <h1 class="text-base lg:text-lg">自己紹介</h1>
            <div class="bg-base-100 rounded-lg">
              <% if follow_user.profile.self_introduction.present? %>
                <h1 class="text-base lg:text-lg p-2"><%= follow_user.profile.self_introduction.truncate(45, omission: '...') %></h1>
              <% end %>
            </div>
          </div>
          
        </div>
      
      </div>
    </div>
  </div>
</div>