<div id="oshi_detail-id-<%= oshi_detail.id %>">
  <details class="collapse bg-base-300 my-2">

    <summary class="collapse-title w-full m-1">
      <div class="flex items-center my-1 mx-1">
        <div class="avatar mr-2">
          <div class="w-20 rounded-full">
            <%= image_tag oshi_detail.oshi_image.url %>
          </div>
        </div>
        <h1 class="text-base lg:text-xl font-bold"><%= oshi_detail.oshi_name.name %></h1>
        <div class='ms-auto text-lg lg:text-xl mr-2'>
          <% if current_user&.own?(oshi_detail) %>
            <%= link_to edit_oshi_detail_path(oshi_detail) do %>
              <i class="fa-solid fa-pen text-base lg:text-lg"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </summary>

    <div class="collapse-content my-2 mx-3">

      <div class="mb-4">
        <h1 class="text-base lg:text-lg font-bold">好きな理由</h1>
        <div class="bg-base-100 rounded-lg">
          <h1 class="text-sm lg:text-bas p-2"><%= simple_format(oshi_detail.reason_for_favorite) %></h1>
        </div>
      </div>

      <div class="mb-4">
        <h1 class="text-base lg:text-lg font-bold">好きになったキッカケ</h1>
        <div class="bg-base-100 rounded-lg">
          <h1 class="text-sm lg:text-bas p-2"><%= simple_format(oshi_detail.trigger_for_favorite) %></h1>
        </div>
      </div>

      <div class="mb-4">
        <h1 class="text-base lg:text-lg font-bold">推し活履歴</h1>
        <div class="bg-base-100 rounded-lg">
          <h1 class="text-sm lg:text-bas p-2"><%= simple_format(oshi_detail.activity_history) %></h1>
        </div>
      </div>
      
    </div>
  </details>
</div>

