<%= search_form_for q, url: url do |f| %>
  <%= f.search_field :name_cont, placeholder: "ユーザー名で検索", class: "input input-bordered  w-full mb-1" %>
  <div class="flex items-center mb-4">
    <div class="mr-1">
      <%= f.label :profile_gender, "性別", class: "text-sm font-medium text-gray-700" %>
    </div>
    <div class="mr-2 lg:mr-4">
      <%= f.select :profile_gender_eq, Profile.genders.keys.map.with_index { |k, i| [t("enums.profile.gender.#{k}"), i] }, { include_blank: 'すべて' }, class: "input input-bordered" %>
    </div>
    <div class="mr-1">
      <%= f.label :profile_birth_year, "誕生年度", class: "text-sm font-medium text-gray-700" %>
    </div>
    <div>
      <%= f.select :profile_birth_year_eq, (1950..Time.now.year).to_a.reverse, { include_blank: 'すべて' }, class: "input input-bordered" %>
    </div>
    <div class="flex-none ml-auto">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>