<div class="container mx-auto px-8">
  <div class="flex justify-center mt-8">
    <div class="w-full max-w-2xl">
      <h1 class="text-2xl font-bold mb-6">プロフィール編集</h1>
      <%= form_with model: @profile do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="mb-4">
          <%= f.label :name, class: "block mb-1" %>
          <%= f.text_field :name, value: @profile.user.name, class: "input input-bordered w-full" %>
        </div>

        <div class="mb-4">
          <%= f.label :profile_image, class: "block mb-1" %>
          <%= f.file_field :profile_image, id: 'images-input', include_hidden: false, class: 'file-input file-input-bordered form-control w-full', accept: 'image/*' %>
        </div>

        <div class="mb-4">
          <%= f.label :gender, class: "block mb-1" %>
          <%= f.select :gender, Profile.genders_i18n.keys.map { |w| [I18n.t("enums.profile.gender.#{w}"), w] }, {}, class: "input input-bordered w-full" %>
        </div>

        <div class="mb-4">
          <%= f.label :birth_year, class: "block mb-1" %>
          <%= f.select :birth_year, options_for_select((1950..Time.now.year).to_a.reverse, selected: @profile.birth_year || '選択なし'), { include_blank: '選択なし' }, class: "input input-bordered w-full" %>
        </div>

        <div class="mb-8">
          <%= f.label :self_introduction, class: "block mb-1" %>
          <%= f.text_area :self_introduction, class: "textarea textarea-bordered h-32 w-full" %>
        </div>

        <div class="mx-auto flex justify-center text-center mb-10">
          <%= f.submit "登録", class: 'btn btn-neutral mr-10' %>
          <%= link_to "戻る", profile_path, class: 'btn btn-neutral mb-10 ml-5' %>
        </div>
        <% end %>
    </div>
  </div>
</div>