<div class="container mx-auto px-8">
  <div class="flex justify-center mt-14">
    <div class="w-full max-w-md">
      <h1 class="text-2xl font-bold mb-8">パスワードリセット</h1>
      <%= form_with model: @user, url: password_reset_path(@token), method: :patch do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-6">
          <%= f.label :email, class: "block mb-2" %>
          <%= f.email_field :email, class: "input input-bordered w-full" %>
        </div>
        <div class="mb-6">
          <%= f.label :password, class: "block mb-2" %>
          <%= f.password_field :password, class: "input input-bordered w-full" %>
        </div>
        <div class="mb-6">
          <%= f.label :password_confirmation, class: "block mb-2" %>
          <%= f.password_field :password_confirmation, class: "input input-bordered w-full" %>
        </div>
        <div class="mx-auto flex justify-center text-center">
          <%= f.submit "パスワード再設定", class: 'btn btn-neutral' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
