<div id="edit-form"
  <div class="container mx-auto px-4">
    <div class="flex justify-center">
      <div class="w-full max-w-5xl">
        <div class="bg-base-200 min-h-3.5 p-2">
          <div class="m-1">
            <div class="card bg-base-100 max-w-4xl shadow-xl">
              <div class="card-body">
                <h3><%= comment.user.profile.name %></h3>
                <h3>作成日：<%= l comment.created_at, format: :short %></h3>
                <%= form_with model: comment, url: comment_path(comment), method: :patch do |f| %>
                  <div>
                    <%= f.text_area :body, class: "textarea textarea-bordered w-full max-w-3xl" %>
                  </div>
                  <%= f.submit "更新", class: 'btn btn-neutral mt-2' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>