<div class="bg-base-200 min-h-3.5 py-1 px-2">
  <div id="article-id-<%= article.id %>">
    <div class="card bg-base-100 max-w-3xl min-h-20 shadow-xl">
      <div class="py-3 px-2">

        <% if article.unpublished? %>
          <h1 class="text-sm text-pink-500">非公開</h1>
        <% end %>

        <div class="mx-auto flex items-center justify-between">
          <h1 class="text-sm"><%= article.oshi_name.name %></h1>
          <% if current_user&.own1?(article) %>
            <div class='ms-auto mr-2'>
              <%= link_to edit_article_path(article) do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
            </div>
          <% elsif logged_in? %>
            <div class='mr-2'>
              <%= render 'shared/favorite_buttons', { article: article } %>
            </div>
          <% end %>
        </div>

        <h1 class="card-title text-base">
          <%= link_to article.title, article_path(article) %>
        </h1>
        <% if article.notice.present? %>
          <h3 class="text-pink-500 text-xs"><%= article.notice %></h3>
        <% end %>
        

        <div class="flex items-center">
          <div class="avatar mr-2">
            <div class="w-8 rounded-full">
              <%= image_tag article.user.profile.profile_image.url %>
            </div>
          </div>
          <h1 class="text-xs"><%= link_to article.user.name, profile_path(article.user.profile) %></h1>
          <div class="ms-auto">
            <h1 class="text-xs">カテゴリ：<%= article.category_i18n %></h1>
            <h1 class="text-xs"><%= l article.created_at, format: :custom %></h1>
          </div>
        </div>
        
        <div>
          <%= render 'articles/tag', { article: article } %>
        </div>

        
          
        
      </div>
    </div>
  </div>
</div>

