<div class="container mx-auto px-8">
  <div class="flex justify-center mt-8">
    <div class="w-full max-w-2xl">

      <div class="mx-auto flex items-center justify-between mb-6">
        <h1 class="text-2xl font-bold">記事編集</h1>
        <%= link_to "削除", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: 'btn btn-outline btn-accent' %>
      </div>

      <%= form_with model: @article, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="mb-4">
          <div class="flex items-center mb-1">
            <%= f.label :oshi_name_name, class: "block mr-1" %>
            <p class="text-red-500">(必須)</p>
          </div>
          <%= f.text_field :oshi_name_name, value: @article.oshi_name&.name, class: "input input-bordered w-full" %>
        </div>

        <div class="mb-4">
          <div class="flex items-center mb-1">
            <%= f.label :title, class: "block mr-1" %>
            <p class="text-red-500">(必須)</p>
          </div>
          <%= f.text_field :title, class: "input input-bordered w-full" %>
        </div>

        <div class="mb-4">
          <%= f.label :notice, class: "block mb-1" %>
          <%= f.text_area :notice, class: "textarea textarea-bordered h-24 w-full" %>
        </div>

        <div class="mb-4">
          <div class="flex items-center mb-1">
            <%= f.label :content, class: "block mr-1" %>
            <p class="text-red-500">(必須)</p>
          </div>
          <!-- リッチテキストエディタのデザインはactiontext.cssに書いている -->
          <%= f.rich_text_area :content %>
        </div>

        <div class="mb-4">
          <%= f.label :category, class: "block mb-1" %>
          <%= f.select :category, Article.categories_i18n.keys.map { |w| [I18n.t("enums.article.category.#{w}"), w] }, {}, class: "select select-bordered max-w-base" %>
        </div>

        <div class="mb-4">
          <%= f.label :tag_name, class: "block mb-1" %>
          <%= f.text_area :tag_name, placeholder: "、で区切って入力してください", value: params[:article] ? params[:article][:tag_name] : @article.tags.map(&:name).join('、'), class: "textarea textarea-bordered h-16 w-full" %>
        </div>

        <div class="flex items-stretch mb-8">
          <div class="mr-12">
            <%= f.label :visible_gender, class: "block mb-1" %>
            <%= f.select :visible_gender, Article.visible_genders_i18n.keys.map { |w| [I18n.t("enums.article.visible_gender.#{w}"), w] }, {}, class: "select select-bordered max-w-base" %>
          </div>

          <div>
            <%= f.label :visible_oshi, class: "block mb-3" %>
            <div class="flex justify-center items-center">
              <%= f.check_box :visible_oshi, { checked: @article.visible_oshi, class: "checkbox checkbox-primary" }, true, false %>
            </div>
          </div>
        </div>
        
        <div class="mx-auto flex justify-center text-center mb-10">
          <%= f.submit "公開", id: 'publishButton', name: 'published', class: 'btn btn-neutral mr-10' %>
          <%= f.submit "非公開で保存", id: 'unpublishButton', name: 'unpublished', class: "btn btn-neutral mr-10" %>
          <%= link_to "戻る", articles_path, data: { turbo_method: :get, turbo_confirm: "記事は更新されていませんが、よろしいでしょうか？" }, class: 'btn btn-neutral' %>
        </div>

      <% end %>
    </div>
  </div>
</div>