<div class="container mx-auto px-4">
  <div class="flex justify-center mt-8">
    <div class="w-full max-w-3xl">
      <div class="bg-base-200 min-h-3.5 p-2">

        <% if @article.unpublished? %>
          <h1 class="text-base text-pink-500">非公開</h1>
        <% end %>

        <div class="mx-auto flex items-center">
          <h1 class="text-base mb-1"><%= @article.oshi_name.name %></h1>
          <% if current_user&.own1?(@article) %>
            <div class='ms-auto mr-4'>
              <%= link_to edit_article_path(@article) do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
            </div>
          <% elsif logged_in? %>
            <div class='ms-auto mr-4'>
              <%= render 'shared/favorite_buttons', { article: @article } %>
            </div>
          <% end %>
          <div class="text-gray-600">
            <% if @article.visible_gender == "not_selected" && !@article.visible_oshi %>
              <% prepare_meta_tags @article %> <!-- 設定したメタタグをリダイレクトされる前に呼び出す-->
              <% twitter_share_url = "https://twitter.com/share?url= #{CGI.escape(article_url(@article))}" %> <!-- post_urlにしないと完全なURLにならない -->
              <%= link_to twitter_share_url, target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
                <!-- Xシェアボタンはfontawesome.comから使用しています -->
                <i class="fa-brands fa-square-x-twitter fa-2xl"></i>
              <% end %>
            <% end %>
          </div>
        </div>

        <h1 class="text-xl font-bold mb-1"><%= @article.title %></h1>
        <h1 class="text-sm text-pink-500 mb-1"><%= @article.notice %></h1>

        <div class="flex items-center mb-1">
          <div class="avatar mr-2">
            <div class="w-8 rounded-full">
              <%= image_tag @article.user.profile.profile_image.url %>
            </div>
          </div>
          <h1 class="text-base mb-1"><%= link_to @article.user.name, profile_path(@article.user.profile) %></h1>
        </div>

        <div class="flex items-center mb-1">
          <h1 class="text-sm">カテゴリ：<%= @article.category_i18n %></h1>
          <h1 class="text-sm ms-auto"><%= l @article.created_at, format: :custom %></h1>
        </div>

        <h1 class="bg-white text-sm p-2 mb-2"><%= @article.content %></h1>

        <%= render 'articles/tag', { article: @article } %>

      </div>



      <!-- コメント入力フォーム -->
      <div class="bg-base-200 min-h-3.5 mt-2 p-4">
        <%= render 'comments/form', comment: @comment, article: @article %>
      </div>

      <!-- コメント一覧 -->
      
        <div id="table-comment" class="my-2">
          <%= render @comments %>
        </div>
      
    </div>
  </div>
</div>
