<div class="container mx-auto px-4">
  <div class="flex justify-center mt-14">
    <div class="w-full max-w-5xl">
      <div class="bg-base-200 min-h-3.5 p-2">
        <div class="flex justify-center m-4">
          <div class="w-full max-w-3xl">
            <div class="text-xl mb-2">
              <%= @article.oshi_name.name %>
            </div>
            <div>
              <h1 class="text-3xl mb-2"><%= @article.title %></h1>
              <h1 class="text-pink-500 mb-2">※注意書き：<%= @article.notice %></h1>
              <h1 class="mb-2">作成者：<%= link_to @article.user.profile.name, profile_path(@article.user.profile) %></h1>
              <h1 class="mb-2">カテゴリ：<%= @article.category %></h1>
              <h1 class="mb-2">作成日：<%= l @article.created_at, format: :short %></h1>
            </div>
            <% if current_user&.own1?(@article) %>
              <div>
                <%= link_to edit_article_path(@article) do %>
                  <i class="fa-solid fa-pen"></i>
                <% end %>
                <%= link_to article_path(@article), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="bg-base-200 min-h-3.5 mt-2 p-4">
        <%= render 'comments/form', comment: @comment, article: @article %>
      </div>
      <div class="bg-base-200 min-h-3.5 mt-2 p-4">
        <div id="table-comment">
          <%= render @comments %>
        </div>
      </div>
    </div>
  </div>
</div>
