<div id="notification-id-<%= notification.id %>">
  <div class="card bg-base-100 max-w-4xl mx-auto m-1">
    <div class="card-body flex flex-row items-center">

      <%= link_to mark_as_read_notification_path(notification), method: :patch, class: "flex flex-row flex-auto 3xl items-center" do %>
        <%= image_tag current_user.profile.profile_image.url, class: "w-12 rounded-full" %>
        <div class="flex flex-col">
          <% case notification.action %>
          <% when 'comment' %>
            <% if notification.article.user_id == notification.visited.id %>
              <h2><%= notification.visitor.name %>さんがあなたの投稿にコメントしました</h2>
            <% end %>
          <% end %>
          <h3 class="text-slate-400">コメント投稿日：<%= l notification.created_at, format: :short %></h3>
        </div>
      <% end %>

      <div class="items-center ml-auto">
        <%= link_to notification_path(notification), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
          <i class="fa-solid fa-trash mr-4"></i>
        <% end %>
        <%# 未読の場合は丸を表示 %>
        <% if notification.checked == false %>
          <i class="fa-solid fa-circle"></i>
        <% end %>
      </div>

    </div>
  </div>
</div>

