<div id="notification-id-<%= notification.id %>">
<div class="bg-base-200 min-h-3.5 p-1">
  <div class="card bg-base-100 max-w-3xl min-h-20 shadow-xl">
    <div class="py-3 px-2">

      <%= link_to mark_as_read_notification_path(notification), method: :patch, class: "flex flex-row flex-auto 3xl items-center hover:bg-gray-300" do %>
        <div class="flex items-center">
          <div class="avatar mr-2">
            <div class="w-10 rounded-full">
              <%= image_tag notification.visitor.profile.profile_image.url %>
            </div>
          </div>
          <div class="flex flex-col">
            <% case notification.action %>
            <% when 'comment' %>
              <% if notification.article.user_id == notification.visited.id %>
                <h1 class="text-sm"><%= notification.visitor.name %>さんがあなたの投稿にコメントしました</h1>
              <% end %>
            <% end %>
            <h1 class="text-slate-400 text-sm">コメント投稿日：<%= l notification.created_at, format: :custom %></h1>
          </div>
        <% end %>

        <div class="items-center ml-auto">
          <%= link_to notification_path(notification), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
          <%# 未読の場合は丸を表示 %>
          <% if notification.checked == false %>
            <i class="fa-solid fa-circle text-orange-500"></i>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

