<div class="container mx-auto px-4 mb-36">
  <div class="flex justify-center mt-14">
    <div class="w-full max-w-5xl">
      <h1 class="text-2xl font-bold mb-10">推し編集</h1>
      <%= form_with model: @oshi_detail do |f| %>
        <div class="mb-10">
          <%= f.label :oshi_name_name, "推し名", class: "block mb-1" %>
          <%= f.text_field :oshi_name_name, value: @oshi_detail.oshi_name&.name, class: "input input-bordered w-full max-w-xs" %>
        </div>
        <div class="mb-3">
          <%= f.label :oshi_image, "推し画像", class: "block mb-1" %>
          <%= f.file_field :oshi_image, class: "input input-bordered w-full max-w-xs", accept: 'image/*' %>
          <%= f.hidden_field :profile_image_cache %>
          <div class='mt-3 mb-8'>
            <%= image_tag @oshi_detail.oshi_image.url,
                          class: 'rounded-circle',
                          id: 'preview',
                          size: '100x100' %>
          </div>
        </div>
        <div class="mb-10">
          <%= f.label :reason_for_favorite, "好きな理由", class: "block mb-1" %>
          <%= f.text_area :reason_for_favorite, class: "textarea textarea-bordered w-full max-w-3xl" %>
        </div>
        <div class="mb-10">
          <%= f.label :trigger_for_favorite, "好きになったキッカケ", class: "block mb-1" %>
          <%= f.text_area :trigger_for_favorite, class: "textarea textarea-bordered w-full max-w-3xl" %>
        </div>
        <div class="mb-10">
          <%= f.label :activity_history, "推し活履歴", class: "block mb-1" %>
          <%= f.text_area :activity_history, class: "textarea textarea-bordered w-full max-w-3xl" %>
        </div>
          <%= f.submit "変更", class: 'btn btn-neutral mb-10' %>
          <%= link_to "戻る", profile_path(current_user.profile), class: 'btn btn-neutral mb-10 ml-5' %>
      <% end %>
    </div>
  </div>
</div>