<div class="container mx-auto px-4">
  <div class="flex justify-center mt-14">
    <div class="w-full max-w-lg">
      <h1 class="text-2xl font-bold mb-10">ユーザー登録</h1>
      <%= form_with model: @sign_up_form, url: sign_up_path do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-10">
          <%= f.label :name, class: "block mb-3" %>
          <%= f.text_field :name, class: "input input-bordered w-full max-w-xs" %>
        </div>
        <div class="mb-10">
          <%= f.label :email, class: "block mb-3" %>
          <%= f.email_field :email, class: "input input-bordered w-full max-w-xs" %>
        </div>
        <div class="mb-10">
          <%= f.label :password, class: "block mb-3" %>
          <%= f.password_field :password, class: "input input-bordered w-full max-w-xs" %>
        </div>
        <div class="mb-10">
          <%= f.label :password_confirmation, class: "block mb-3" %>
          <%= f.password_field :password_confirmation, class: "input input-bordered w-full max-w-xs" %>
        </div>
          <%= f.submit "登録", class: 'btn btn-neutral' %>
        <div class="mt-10 mb-10">
          <%= link_to "ログインページへ", login_path, class: "link link-hover" %>
        </div>
      <% end %>
    </div>
  </div>
</div>