<div class="navbar bg-base-300">
  <div class="flex-1">
    <%= link_to "推しOPEN", root_path, class: 'btn btn-ghost text-xl' %>
  </div>
  <div class="space-x-4">
    <%= link_to "記事一覧", articles_path, class: 'btn btn-neutral' %>
    <%= link_to "記事作成", new_article_path, class: 'btn btn-neutral' %>
    <details class="dropdown dropdown-end">
      <summary class="btn"><i class="fa-solid fa-bars"></i></summary>
      <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
        <li>
          <%= link_to "マイページ", profile_path(current_user.profile) %>
        </li>
        <li>
          <%= link_to "自分の記事一覧", my_articles_profile_path(current_user.profile) %>
        </li>
        <li>
          <%= link_to "お気に入り記事一覧", favorite_articles_profile_path(current_user.profile) %>
        </li>
        <li>
          <%= link_to "お気に入りユーザー一覧", follow_users_profile_path(current_user.profile) %>
        </li>
        <li>
          <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %>
        </li>
      </ul>
    </details>
  </div>
</div>
