<div class="navbar bg-base-300 fixed top-0 flex justify-between">
  <div class="flex-1">
    <%= link_to "推しOPEN", root_path, class: 'btn btn-ghost text-xl' %>
  </div>

  <!-- PC版に関する記述 -->
  <div class="space-x-4 hidden lg:flex items-center">
    <%= link_to "記事一覧", articles_path, class: 'btn btn-neutral' %>
    <%= link_to "記事作成", new_article_path, class: 'btn btn-neutral' %>

    <!-- サイドメニューに関する記述 -->
    <div class="drawer drawer-end">
      <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- サイドメニューを開くためのボタン -->
        <label for="my-drawer-4" class="drawer-button btn btn-neutral"><i class="fa-solid fa-bars"></i></label>
      </div>
      <div class="drawer-side">
        <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
          <!-- サイドバーの内容 -->
          <li><%= link_to "マイページ", profile_path(current_user.profile) %></li>
          <li><%= link_to "自分の記事一覧", my_articles_profile_path(current_user.profile) %></li>
          <li><%= link_to "お気に入り記事一覧", favorite_articles_profile_path(current_user.profile) %></li>
          <li><%= link_to "お気に入りユーザー一覧", follow_users_profile_path(current_user.profile) %></li>
          <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %></li>
          <div class="divider divider-neutral"></div>
          <li><%= link_to "プライバシーリテラシー", "#" %></li>
          <li><%= link_to "利用規約", term_path %></li>
          <li><%= link_to "お問い合わせフォーム", "#" %></li>
          <div class="divider divider-neutral"></div>
          <div class="text-center">
            <p>Copyright@ 2024 推しOPEN</p>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <!-- スマホ版のサイドメニューに関する記述 -->
  <div class="lg:hidden">
    <div class="drawer drawer-end">
      <input id="my-drawer-5" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- サイドメニューを開くためのボタン -->
        <label for="my-drawer-5" class="drawer-button btn btn-neutral"><i class="fa-solid fa-bars"></i></label>
      </div>
      <div class="drawer-side">
        <label for="my-drawer-5" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
          <!-- サイドバーの内容 -->
          <li><%= link_to "記事一覧", articles_path %></li>
          <li><%= link_to "記事作成", new_article_path %></li>
          <div class="divider divider-neutral"></div>
          <li><%= link_to "マイページ", profile_path(current_user.profile) %></li>
          <li><%= link_to "自分の記事一覧", my_articles_profile_path(current_user.profile) %></li>
          <li><%= link_to "お気に入り記事一覧", favorite_articles_profile_path(current_user.profile) %></li>
          <li><%= link_to "お気に入りユーザー一覧", follow_users_profile_path(current_user.profile) %></li>
          <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %></li>
          <div class="divider divider-neutral"></div>
          <li><%= link_to "プライバシーリテラシー", "#" %></li>
          <li><%= link_to "利用規約", "#" %></li>
          <li><%= link_to "お問い合わせフォーム", "#" %></li>
          <div class="divider divider-neutral"></div>
          <div class="text-center">
            <p>Copyright@ 2024 推しOPEN</p>
          </div>
        </ul>
      </div>
    </div>
  </div>

</div>
