<%= search_form_for q, url: url do |f| %>
  <%= f.search_field :title_cont, placeholder: "タイトルで検索", class: "input input-bordered w-full mb-1" %>
  <%= f.search_field :oshi_name_name_cont, placeholder: "推し名で検索", class: "input input-bordered w-full mb-1" %>
  <%= f.search_field :user_name_cont, placeholder: "作成者名で検索", class: "input input-bordered w-full mb-1" %>
  <div class="flex mb-4">
    <%= f.label :category, "カテゴリ", class: "content-center mr-1" %>
    <%= f.select :category_eq, Article.categories.keys.map.with_index { |k, i| [t("enums.article.category.#{k}"), i] }, { include_blank: 'すべて' }, class: "input input-bordered" %>
    <div class="flex-none ml-auto">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
