<div class="m-2">
  <div id="room-id-<%= room.id %>">
    <div class="card bg-base-100 max-w-4xl mx-auto shadow-xl">
      <div class="card-body flex flex-row items-center">
        
        <%# モーダルのボタン %>
        <%= link_to "#", class: "flex flex-row flex-auto 3xl items-center hover:bg-gray-300", onclick: "my_modal_2.showModal();" do %>
          <div class="text-xl">
            <%= room.name %>
          </div>
        <% end %>

        <%# モーダルの内容 %>
        <dialog id="my_modal_2" class="modal">
          <div class="modal-box size-2/5">
            <h1>説明</h1>
            <h1 class="mt-1"><%= room.description %></p>
            <div class="absolute inset-x-0 bottom-4 flex justify-center">
              <% if current_user.joined_room?(room) %>
                <%= link_to "チャット画面へ", room_path(room), class: "btn btn-neutral" %>
              <% else %>
                <%= link_to "参加", room_join_path(room_id: room.id), class: "btn btn-neutral", id: "join-room-button-#{room.id}", data: { turbo_method: :post } %>
              <% end %>
            </div>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>

        <div class="items-center ml-auto flex flex-row">
          <% if current_user.joined_room?(room) %>
            <h1 class="mr-4">参加中</h1>
          <% end %>
          <% if current_user&.owned_rooms?(room) %>
            <%= link_to edit_room_path(room), class: "mr-2" do %>
              <i class="fa-solid fa-pen"></i>
            <% end %>
            <%= link_to room_path(room), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>