<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>

    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags %>
    <script src="https://kit.fontawesome.com/789a4f769e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if controller_name == "rooms" && action_name == "show" %>
      <%= render 'shared/room_header' %>
    <% elsif logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <div class="pt-16 pb-36">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>

    <% if controller_name == "rooms" && action_name == "show" %>
      <%= render 'shared/room_footer' %>
    <% elsif logged_in? %>
      <%= render 'shared/footer' %>
    <% else %>
      <%= render 'shared/before_login_footer' %>
    <% end %>
  </body>
</html>
